:root {

    --primary: #C92071;
    --secondary: #B5B6F2;
    --tertiary: #991956;
    --error: #EE4266;
    --success: #52CA76;
    --warning: #F6AA1C;
    --dark-gray: #1F1F1F;
    --dark-gray-2: #474747;
    --dark-gray-3: #666666;
    --light-gray: #8F8F8F;
    --light-gray-2: #CCCCCC;
    --light-gray-3: #F5F5F5;
    --white: #FFFFFF;
}

.Maincont {
    display: flex;
}

.BordMain {
    padding: 74px;
    background-color: #f9f8fe;

}
.MainFiltro {
    width: 308px;
    height: 720px;
    background-color: var(--white);
}

.IntFiltro {
    padding: 25px 0;
    margin: 25px;
    border-bottom: 1px solid var(--light-gray);
}

.Marka {
    margin: 25px;
}

input[type="checkbox"] {

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  
    width: 20px;
    height: 20px;
    border: 2px solid var(--light-gray);
    border-radius: 3px;
    position: relative;
}
  
input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: var(--primary);
}

input[type="radio"] {

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  
    width: 20px;
    height: 20px;
    border: 2px solid var(--light-gray);
    border-radius: 50%;
    position: relative;
}
  
input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--primary);
}