:root {

    --primary: #C92071;
    --secondary: #B5B6F2;
    --tertiary: #991956;
    --error: #EE4266;
    --success: #52CA76;
    --warning: #F6AA1C;
    --dark-gray: #1F1F1F;
    --dark-gray-2: #474747;
    --dark-gray-3: #666666;
    --light-gray: #8F8F8F;
    --light-gray-2: #CCCCCC;
    --light-gray-3: #F5F5F5;
    --white: #FFFFFF;
}

.MainInfomacoes {
    display: flex;
    flex-direction: column;
}

.MainInfomacoes a {
    color: var(--white);
    margin: 10px;
    text-decoration: none;
}

.MainInfomacoes h2 {
    padding:  40px;
}
.MainInfomacoes ul li {
    list-style-type: none;
    padding: 5px;
}